dnspython
netaddr
lxml
argparse
dnspython
slackclient
requests
colorama
flask
click
asyncio
uvloop
tqdm
aiodns
pyyaml
wrapt_timeout_decorator
needlepy
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability